<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8">
    <title>Sửa Sản Phẩm</title>
</head>
<body>
    <div layout:fragment="content" class="container body-content">
        <h2 class="mb-4">Cập nhật thông tin sản phẩm</h2>
        
        <form th:action="@{/products/save}" th:object="${product}" method="post" class="needs-validation">
            
            <input type="hidden" th:field="*{id}">

            <div class="mb-3">
                <label for="name" class="form-label">Tên sản phẩm:</label>
                <input class="form-control" type="text" th:field="*{name}" id="name">
                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            
            <div class="mb-3">
                <label for="image" class="form-label">Đường dẫn ảnh (URL):</label>
                <input class="form-control" type="text" th:field="*{image}" id="image">
                <div class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>
            </div>
            
            <div class="mb-3">
                <label for="price" class="form-label">Giá (VNĐ):</label>
                <input class="form-control" type="number" th:field="*{price}" id="price">
                <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            </div>
            
            <div class="mb-3">
                <label for="category" class="form-label">Danh mục:</label>
                <select th:field="*{category}" class="form-control" id="category">
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a href="/products" class="btn btn-secondary">Hủy bỏ</a>
        </form>
    </div>
</body>
</html>